# Java
*.class
*.log
*.ctxt

# Maven / Gradle
target/
build/
.gradle/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Env files
.env
application-local.yml
application-dev.yml

# Logs
logs/

# Database
*.db

# Lombok
.lombok
