# Java
*.class
*.log
*.ctxt

# Maven / Gradle
target/
build/
.gradle/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*
.env
application-local.yml
application-dev.yml
application.properties

# Logs
logs/
*.log

# Database
*.db

# Lombok
.lombok

# Node (if ever used)
node_modules/

# Docker
*.pid